* {
  box-sizing:border-box;
  margin:0;
  padding:0;
}
html,body {
 width:100%;
 height:auto;
 font-size:100%;
 z-index:0;
 background:url('/background_images/001.jpg') repeat fixed; 
 /*background-color:#e2e0dc;/*#f5f9fa;*/
 font-family:Microsoft YaHei,sans-serif,"Trebuchet MS", Helvetica, sans-serif;

}

.head {
  width:100%;
  height:auto;/*暂*/
  background-color:white;
  margin-bottom:2%;
  padding-bottom:2%;
  border-radius:2px;
  position:relative;
  display:inline-block;
}


a:link {
  color:black;text-decoration:none;
  }      
a:visited {
  color:black;text-decoration:none;
  }  
a:hover {
  color:red;text-decoration:none;
  }  
a:active {
  color:red;text-decoration:underline;
  } 

.block {
  display:block;
}
.inline-block {
  display:inline-block;
}
.inline {
  display:inline;
}

.absolute {
  position:absolute;
}
.relative {
  position:relative;
}
.static {
  position:static;
}
.fixed {
  position:fixed;
}

.cover_last {
  z-index:-1;
}
.cover_zero {
  z-index:0;
}
.cover_first {
  z-index:1;
}
.cover_sec {
  z-index:2;
}
.cover_thr {
  z-index:3;
}
.cover_pre {
  z-index:100;
}

.go_right {
  float:right;
  clear:right;
  position:relative;
  padding-right:0.5%;
}
.go_left {
  float:left;
  clear:left;
  position:relative;
  padding-left:0.5%;
}
.to_bottom {
  bottom:100px;
}
.to_left {
  left:1px;
}
.to_right {
  right:1px;
}

.to_pre_top {
  top:0;
}
.to_last_bottom {
  bottom:0;
}


.zero_margin {
  margin:0;
}
.big_right_margin {
  margin-right:10%;
}


.big_left_margin {
  margin-left:10%;
}


.big_top_margin {
  margin-top:10%;
}


.big_bottom_margin {
  margin-bottom:10%;
}

.small_bottom_margin {
  margin-bottom:0.5%;
}


.hover_red:hover {
  color:red;
}

.bottom {
  height:200px;
}

.full_width {
  width:100%;
}
.aside_left {
  left:0.5%;
}
.aside_right {
  right:0.5%;
}

.full_shadow {
  box-shadow:6px 6px rgba(0,0,0,0.2), 2px 2px 26px rgba(0,0,0,0.19);
}
.sp_shadow {   box-shadow:0 2px 6px 0 rgba(0,0,0,0.12);
 }

.out_radius {
  border-radius:5px;
}
.inner_radius {
  border-radius:3px;
}
.click_radius {
  border-radius:2px;
}

.hidden_flow {
  overflow:hidden;
}

.max_width {}

.max_height {
  max-height:5%;
}

.top_margin {
  margin-top:0.5%;
}
.bottom_margin {
  margin-bottom:0.5%;
}
.left_margin {
  margin-left:0.5%;
}
.right_margin {
  margin-right:0.5%;
}
.left_padding {
  padding-left:0.5%;
}
.right_padding {
  padding-right:0.5%;
}
.top_padding {
  padding-top:0.5%;
}
.bottom_padding {
  padding-bottom:0.5%;
}

.center_text {
  text-align:center;
}
.left_text {
  text-align:left;
}
.right_text {
  text-align:right;
}

.break_warp {
  word-break:break-all;
  word-wrap:break-word;
}

.no_list_style {
  list-style:none;
}
.white_back {
  background-color:white;
}
.eight_width {
  width:80%;
}